body{
    background: #4f3b05;
    text-align: center;
}

h1{
    color:white;
    font-size: 120px;
}


h2{
    color:white;
    font-size: 80px;
}

p{
    color:white;
    font-size: 45px;
}

table {
    border: 2px solid #ffffff;
    border-collapse: collapse;
    text-align: center;
    position: relative;
    left: 2215px;
    }
th {
    border: 2px solid #ffffff;
    border-collapse: collapse;
    color: #ffffff;
    padding: 10px;
    font-size: 40px;
    text-align: center;
}
td {
    color: #ffffff;
    text-align: left;
    padding: 10px;
    font-size: 40px;
    text-align: center;
}